.catapult__cookie__bar{
    background-color: white;
    box-shadow: 0 2px 7px rgb(0 0 0 / 10%);
    padding: 25px!important;
    height: 150px;
    width: 310px;
    bottom: 20px;
    font-size: 14px;
    color: var(--title-color--);
    position: fixed;
    bottom: 15px;
    left: 15px;
    border-radius: 5px;
    z-index: 999;
}
.catapult__cookie__bar__row__mt{
   
}
.cookie__bar__desc{
    color: #9f9f9f;
    font-size: 15px;
    line-height: 1.5;
}
.cookie__bar__desc__link{
    text-decoration: underline;
    color: #9f9f9f;
    font-size: 15px;
}
.cookie__button{
    margin-top: 20px;
    width: 100%;
    height: 44px;
    background-color: var(--primary-color--);
    border-radius: 5px;
    padding: 13px 30px;
    font-size: 15px;
    color: white;
    border: none;
    transition: all ease 0.25s;
}
.cookie__button:hover{
    cursor: pointer;
    background-color: var(--button-hover--);
}
.cookie__bar__desc__link:hover{
    text-decoration: none;
}