
.today__trending__bottom__right__4,
.today__trending__bottom__right__3,
.today__trending__bottom__right__2,
.today__trending__bottom__right__1,
.trending__bottom__left__row__animation__3,
.trending__bottom__left__row__animation__4,
.trending__bottom__left__row__animation__5,
.trending__bottom__left__row__animation__6,
.trending__bottom__left__row__animation__7,
.trending__bottom__left__row__animation__8,
.trending__bottom__left__row__animation__2,
.trending__bottom__left__row__animation__1,
.trending__animation__1,
.selected__post__animation,
.video__animation,
.categories__animation,
.travel__animation__2,
.travel__animation__1,
.selected__animation__right__3,
.selected__animation__right__2,
.selected__animation__right__1,
.selected__animation__left,
.art__culture__aniamtion__2,
.art__culture__aniamtion__1,
.technology__animation__3,
.technology__animation__2,
.technology__animation__1{
    opacity: 0;
    transform: translateY(100px);
}
.item-show{
    opacity: 1;
    transform: translateY(0);
    animation:  animation-onscroll ease 1.5s;
}

@keyframes animation-onscroll{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}