/*  ====================================== Header ======================================*/
/* ====================================== Header Topline ====================================== */
.header__topline__wrapper{
    background: url(./img/header/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__topline__content{
    display: flex;
    align-items: center;
}
.header__topline__content__sup{
    width: 42.141px;
    height: 21px;
    font-size: var(--hagtag--);
    background-color: var(--green--color--);
    color: var(--white-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2px 7px;
    margin: 0 10px;
}
.header__topline__content__main{
    font-size: var(--paragraph-desc--);
    color: var(--white-color--);
    font-weight: var(--bold--);
}
.header__topline__link{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.header__topline__link__text{
    font-size: var(--paragraph-desc--);
    color: var(--white-color--);
    font-weight: var(--bold--);
}
.header__topline__link__icon{
    font-size: var(--paragraph-desc--);
    color: var(--white-color--);
    margin-left: 5px;
    transform: translateY(1px);
}
/* ====================================== HeaderBottom====================================== */
.header__bottomline__wrapper{
    
}
.header__bottomline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid var(--gray-color--);
}
.header__subnav__slideshow__body__item{
    padding: 0 15px 24px;
}
/* ====================================== Header BottomLine Left ====================================== */
.header__bottomline__left__wrapper{
    display: flex;
}
.header__bottom__left__icon__list{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.header__bottom__left__icon__item{
    margin: 0 8px;
}
.header__bottom__left__icon__item__link__icon{
    color: var(--title-color--);
    transition: color ease 0.3s;
}
.header__bottom__left__icon__item:hover .header__bottom__left__icon__item__link__icon{
    color: var(--primary-color--);
}
.header__bottom__text__list{
    display: flex;
    align-items: center;
}
.header__bottom__text__item__link{
    color: var(--title-color--);
    font-size: var(--paragraph-desc--);
    font-weight: var(--semi-bold--);
    padding: 0 10px;
    transition: color ease 0.3s;
} 
.header__bottom__text__item:hover a{
    color: var(--primary-color--);
}
/*  ====================================== Header Main ======================================  */
.header__main{
    height: 100px;
   
}
.header__main__background{
    background-color: white;
}
.header__main__height{
    height: 100px;
    display: none;
}
.header__main__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__onscroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    z-index: 99;
    animation: header-show ease 0.25s;
}
@keyframes header-show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*  ====================================== Header Right ======================================  */
.header__main__right{
    display: flex;
    align-items: center;
}
.button{
    height: 44px;
    background-color: var(--second-primary-color--);
    border-radius: 5px;
    padding: 15px 30px;
    transition: all ease .25s;
}
.button:hover{
    background-color: var(--button-hover--);
}
.header__main__right__button__text{
    font-size: var(--h4-heading--);
    color: white;
    font-weight: var(--semi-bold--);
}
.header__search__button{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: all ease .25s;
    cursor: pointer;
}
.header__search__button__icon{
    font-weight: var(--bold--);
    color: var(--title-color--);
}
.header__search__button:hover{
    background-color: var(--button-hover--);
    transition: all ease .25s;
}
.header__search__button:hover .header__search__button__icon{
    color: white;
}
.header__search__input{
    height: 44px;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    outline: none;
    font-size: var(--h4-heading--);
    display: none;
    animation: button-show-up ease 0.5s ;
}
@keyframes button-show-up{
    from{
        display: none;
        width: 0;
    }
    to{
        display: block;
        width: 230px;
    }
}
/*  ====================================== Header Left ======================================  */
.header__main__left{
    display: flex;
    height: 100%;    
    align-items: center;
    position: relative;
}
.header__logo{
    width: 162px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 35px 0 15px;
}
.header__log__img{
    width: 100%;
    height: 35px;
    object-fit: contain;
}
.header__navbar__list{
    display: flex;
}
.header__navbar__item{
    padding: 13px 18px;
    position: relative;
    height: 100px;
}
/* ============================= Subnav slideshow =============================*/
.header__navbar__item{
    position: relative;
}
.header__subnav__slideshow__wrapper{
    position: absolute;
    top: 86.5%;
    left: -372px;
    padding: 15px 15px 0;
    width: 1140px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    z-index: 6;
    display: none;
}
.header__navbar__item:hover .header__subnav__slideshow__wrapper{
    display: block;
    animation: show-up ease .5s;
}
.header__subnav__slideshow{
    padding: 15px 15px 0;
}
.header__subnav__slideshow__title{
    font-size: var(--h2-heading--);
    font-weight: var(--bold--);
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--gray-color--);
}
.header__subnav__slideshow__body__item__img__wrapper{
    height: 162px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.header__subnav__slideshow__body__item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.header__subnav__slideshow__body__item__img__icon__wrapper{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.img__modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    transition: all ease .25s;
    z-index: 1;
}
.book__mark{
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom right, var(--second-primary-color--) 50% ,  white 50%);   
    position: absolute;
    right: -40px;
    bottom: -40px;
    transition: all ease .25s;
    z-index: 2;
}
.header__subnav__slideshow__body__item__img__wrapper:hover .book__mark{
    right: 0px;
    bottom: 0px;
} 
.header__subnav__slideshow__body__item__img__wrapper:hover .img__modal{
    background-color: rgba(0,0,0,0.2);
} 
.header__subnav__slideshow__body__item__img__icon{
    color: #444;
}
.header__subnav__slideshow__body__item__img__text__wrapper{
    background-color: var(--primary-color--);
    border: 3px solid white;
}
.header__subnav__slideshow__body__item__img__text{
    color: white;
    font-weight: var(--semi-bold--);
}
.header__subnav__slideshow__body__item__data__hagtag:hover .hagtag__text{
    color: var(--primary-color--);
}
a.header__subnav__slideshow__body__item__data__title{
    font-size: var(--h4-heading--);
    font-weight: var(--semi-bold--);
    color: var(--title-color--);
    line-height: 21px;
}

.header__subnav__slideshow__body__item__data__subtitle{
    font-size: 12px;
    color: var(--subtitle-color--);
    opacity: 0.8;
}
.subtitle__dot__icon{
   color: var(--subtitle-color);
   font-size: 0.5rem;
   margin: 0 7px;
}
/* ============================= Subnav =============================*/
.header__subnav__list{
    position: absolute;
    top: 75%;
    left: 0;
    min-width: 240px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    background-color: white;
    padding: 15px 0;
    border-radius: 5px;
    z-index: 6;
    display: none;
}
.header__navbar__item:hover .header__subnav__list{
    display: block;
    animation: show-up ease 0.3s;
}
.header__subnav__item{
    padding: 8px 20px;
    cursor: pointer;
    position: relative;
}
.header__subnav__item__link{
    display: flex;
    justify-content: space-between;
    color: var(--title-color--);
    font-weight: var(--semi-bold--);
    transition: all ease 0.25s;
}
.header__subnav__item__link__text__wrapper{
    display: flex;
}
.hagtag__hot{
    width: 31.09px;
    height: 18px;
    background-color: #ea3465;
    border-radius: 5px;
    font-size: 10px;
    padding: 0 5px;
    color: white;
    font-weight: var(--bold--);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}
.header__subnav__item__link__icon{
    font-size: 0.7rem;
}
.header__subnav__item:hover .header__subnav__item__link{
    color: var(--primary-color--);
}
.header__subnavbar__item__link__icon{
    font-size: 0.7rem;
}
.header__navbar__item__link{
    display: flex;
    align-items: center;
}
.header__navbar__item__link__text{
    font-size: var(--h4-heading--);
    color: var(--title-color--);
    font-weight: var(--semi-bold--);
    line-height: 74px;
    transition: all ease 0.25s;
    
}
.header__navbar__item__link__icon{
    font-size: var(--h4-heading--);
    color: var(--title-color--);
    font-size: 0.7rem;
    margin-left: 10px;
}
.header__navbar__item:hover .header__navbar__item__link__icon,
.header__navbar__item:hover .header__navbar__item__link__text{
    color: var(--primary-color--);
}
/* ============================= Second Subnav =============================*/
.header__second__subnav__list{
    position: absolute;
    top: -14px;
    min-width: 240px;
    left: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    background-color: white;
    padding: 15px 0;
    border-radius: 5px;
    z-index: 5;
    display: none;
}
.header__second__subnav__item{
    padding: 8px 20px;
    display: flex;
    cursor: pointer;
}
.header__second__subnav__item__link{
    color: var(--title-color--);
    transition: all ease 0.25s;
    font-weight: var(--semi-bold--);
}
.hagtag__parallax{
    width: 61.73px;
    height: 18px;
    background-color: var(--primary-color--);
    border-radius: 5px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px 5px 0;
    margin-left: 7px;
    font-weight: var(--bold--);
}
.header__second__subnav__item:hover .header__second__subnav__item__link{
    color: var(--primary-color--);
}
.header__subnav__item:hover .header__second__subnav__list{
    display: block;
    animation: show-up ease 0.3s;
}
/* ============================= Slide Show =============================*/
.slides{
    max-width: 100vw;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.slides__wrapper{
    display: flex;
    transition: all ease 1.3s;
}
.slide{
    height: 600px;
    position: relative;
    z-index: 2;
}
.row__mt{
    height: 170px;
}
.slide__background{
    background-image: url(./img/slide/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    flex: 1 0 100%;
}
.slide__background:nth-child(2){
    background-image: url(./img/slide/2.jpg);
}
.slide__background:nth-child(3){
    background-image: url(./img/slide/3.jpg);
}
.slide__background::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.4);
    transition: all ease 0.3s;
    z-index: 1;
}
.slide__title{
    font-size: var(--h1-heading--);
    color: white;
    font-weight: var(--bold--);
    line-height: var(--h1-line-height--);
    margin-bottom: 5px;
}
.slide__hagtag{
    margin-bottom: 15px;
    background-color: white;
    margin-right: 10px;
}
.slide__hagtag__dot__video{
    background-color: var(--primary-color--);
}
.slide__hagtag__dot__lifestyle{
    background-color: #C74970;
}
.slide__hagtag:hover .slide__hagtag__text{
    color: var(--primary-color--);
}
.slide__desc{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    font-weight: var(--bold--);
    color: white;
}
.slide__desc__icon{
    margin: 0 7px;
    font-size: 0.5rem;
    transform: translateY(-1px);
}
.slides__button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2  ;
    cursor: pointer;
    opacity: 0;
    display: flex;
}

.slides:hover .slides__button{
    opacity: 1;
    animation: button-show-up ease 0.9s;
}
.slides:hover .slide__background::after{
    background-color: rgba(0,0,0,0.5);
}
@keyframes button-show-up{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.slides__button__icon{
    font-size: 1rem;
    color: white;
}
.slides__button__prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}
.slides__button__next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}
.slide__dot{
    position: absolute;
    right: 0;    
    bottom: 0;
    z-index: 5;
    background-color: #f5f5f5;
    padding: 40px;
    width: 380px;
    height: 170px;    
    transition: all ease 0.25s;
    cursor: pointer;
    user-select: none;
}
.slide__dot__text{
    font-size: var(--h4-heading--);
    color: var(--title-color--);
    font-weight: var(--bold--);
    margin-top: 10px;
    line-height: 20px;
}
.slide__dot__text__active{
    color: white;
}
.slide__dot__1st{
    position: absolute;
    bottom: 0;
    right: 760px;
}
.slide__dot__2nd{
    right: 380px;
}
.slide__dot__active{
   height: 200px;
   background-color: var(--second-primary-color--);
   padding-top: 70px;
}
/*====================================== Content ======================================*/
.content{
    margin-top: 110px;
    margin-bottom: 40px;
}

.showcase__post__detail{
    padding: 30px; 
    background-image: url(./img/recent/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;
    min-height: 460px;
    position: relative;
}
.showcase__post__detail:hover .row__fill{
    transform: translateY(-20px);
}
.showcase__overlay{
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    transition: all ease 0.25s;
}

.showcase__post__detail:hover .showcase__overlay{
    background-color: rgba(0,0,0,0.5);
}
.shocase__post__row__mt{
    height: 170px;
}
.showcase__title__color{
    color: white;
    font-size: var(--h2-heading--);
    line-height: 25px;
}
.row__fill{
    position: relative;
    z-index: 2;
    transition: all ease 0.25s;
}
.showcase__post__subtitle{
    color: white;
}
.post__desc{
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.25;
}
.showcase__post__title{
    font-size: 30px;
    font-weight: var(--bold--);
    padding: 0 0 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.showcase__post__title a{
    color: var(--title-color--);
    transition: all ease 0.25s;
}
.showcase__post__title a:hover{
    color: var(--primary-color--);
}
.post__title__hover{
    transition: all ease 0.25s;
}
.post__title__hover:hover{
    color: var(--primary-color--);
}

/*  ====================================== Post Item ====================================== */
.post__item__img__wrapper{
    position: relative;
    height: 233px;
    overflow: hidden;
}
.post__item__modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    transition: all ease 0.25s;
}
.post__item__img__wrapper:hover .post__book__mark{
    right: 0;
    bottom: 0;
}
.post__item__img__wrapper:hover .post__item__modal{
    background-color: rgba(0,0,0,0.3);
}
.post__item__title{
    font-size: var(--h2-heading--);
    font-weight: var(--bold--);
    color: var(--title-color--);
    line-height: 1.25;
    transition: all ease 0.25s;
}
.post__item__title:hover{
    color: var(--primary-color--);
}
.post__item__review{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color--);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 2;
}
.post__book__mark{
    width: 45px;
    height: 45px;
    background: linear-gradient(to bottom right, var(--second-primary-color--) 50% ,  white 50%);   
    position: absolute;
    right: -45px;
    bottom: -45px;
    transition: all ease .25s;
    z-index: 2;
}
.post__item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.post__button{
    background-color: var(--primary-color--);
    color: white;
    font-weight: var(--bold--);
    margin-left: auto;
    margin-right: auto;
}
/* ==========================================High Light ============================= */
.highlight__today{
    background-color: var(--gray-color--);
    padding: 40px 0 0;
    overflow: hidden;
}
.today__highlight__item{
    min-width: 288px;
}
.tablet__highlight__replace{
    display: none;
}
.inhype__post__list{
    width: 1823px;
}
/*  <!-- ====================================== Art ====================================== --> */
.art__culture__item{
    background-image: url(/./assets/img/art__culture/1.jpg);
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    position: relative;
    height: 100%;
    max-height: 445px;
}
.art__culture__item__2nd{
    background-image: url(/./assets/img/art__culture/2.jpg);
    
}
.art__culture__row__mt{
    min-height: 190px;
}
.art__culture__modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    transition: all ease 0.25s;
}
.art__culture__item:hover .art__culture__modal{
    background-color: rgba(0,0,0,0.5);
}
.post__item__data{
    position: relative;
    z-index: 2;
    transition: all ease 0.25s;
}
.art__culture__item:hover .post__item__data{
    transform: translateY(-20px);
}

.selected{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.selected__item{
}
.selected__item__img__wrapper{
    height: 568px;
}

.selected__data__title:hover{
    color: var(--primary-color--);
}
.seclected__item__right__img__wrapper{
    height: 132px;
}

/*  <!-- ====================================== Travel ====================================== --> */
.travel__item{
    background-image: url(./img/travel/1.jpg);
    max-height: 400px;
}
.travel__item__2{
    background-image: url(./img/travel/2.jpg);
}
.travel__item__3{
    background-image: url(./img/travel/3.jpg);
}
.travel__item__4{
    background-image: url(./img/travel/4.jpg);
}
.travel__item__5{
    background-image: url(./img/travel/5.jpg);
}
.travel__item__6{
    background-image: url(./img/travel/6.jpg);
}

.text__center__title__wrapper{
    text-align: center;
}


/*  <!-- ====================================== Subcribe ====================================== --> */
.subcribe__block{
    background-image: url(./img/subcribe/1.jpg);
    background-size: cover;
    background-position: center;
    width: 1140px;
    margin: 0 auto;
    min-height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.subcribe__block__input{
    display: flex;
    height: 44px;
}
.subcribe__block__input input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 20px;
    min-width: 300px;
    font-size: 1rem;
    background-color: white;
    margin-right: 15px;
}
/*  <!-- ====================================== Categories ====================================== --> */
.category__item{
    background-image: url(./img/category/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
.category__item__2{
    background-image: url(./img/category/2.jpg);
}
.category__item__3{
    background-image: url(./img/category/3.jpg);
}
.category__item__4{
    background-image: url(./img/category/4.jpg);
}
.category__item__modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.6s;
}
.category__item:hover .category__item__modal{
    opacity: 1;
}
.category__item:hover .category__button{
    color: var(--primary-color--);
}
.category__row__mt{
    height: 105px;
}
.category__item__amount{
    font-size: 14px;
    color: #FFFFFFB3;
    margin-bottom: 20px;
    font-weight: var(--bold--);
}
.category__button{
    font-size: 14px;
    color: var(--title-color--);
    height: 40px;
    padding: 13px 30px;
    background-color: white;
    border-radius: 5px;
    font-weight: var(--semi-bold--);
}
.category__item__data{
    position: relative;
    z-index: 2;
}

.second__slides{
    position: relative;
    overflow: hidden;
}
.second__slides__wrapper{
    flex-wrap: nowrap;
    transition: all ease 0.8s;
}
.second__slides__btn__wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -5px;
}
.second__slides__left__data__title{
    line-height: 1.5;
}
.second__slides__background{
    padding: 100px 0;
    background-color:#13181C;
}
.second__slides__right__wrapper{
    position: relative;
}

.second__slides__right__wrapper{
    max-height: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.second__slides__right__wrapper:hover{
    cursor: pointer;
}
.icon__mark{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;    
}
.icon__mark__inside{
    transform: translateX(2px);
}
.second__slides__right__modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}
.second__slides__right__wrapper:hover .second__slides__right__modal{
    background-color: rgba(0,0,0,0.2);
}
.second__slides__right__wrappe img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.second__slides__right__book__mark{
    width: 45px;
    height: 45px;
    position: absolute;
    right: -45px;
    bottom: -45px;
}
.second__slides__right__wrapper:hover  .second__slides__right__book__mark{
    right: 0px;
    bottom: 0px;
}

.second__slides__btn__wrapper{
    display: flex;
}
.second__slides__btn{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2  ;
    cursor: pointer;
    display: flex;
    margin: 0 5px;
}
.second__slides__btn__icon{
    color: white;
}
.second__slides__btn:hover{
    background-color: rgba(255,255,255,0.3);
}

.video__item__left{
    background-image: url(./img/video/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    position: relative;
}
.video__item__modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}




.video__item__left:hover .video__item__modal{
    background-color: rgba(0,0,0,0.6);
}
.video__row__mt{
    min-height: 286px;
}
.video__item__right__top__row__mt{
    min-height: 36px;
}
.video__item__right__top{
    background-image: url(./img/video/2.jpg);
}
.video__item__right__bottom{
    background-image: url(./img/video/3.jpg);
}
.video__item__left:hover .post__item__data{
    transform: translateY(-20px);
}





.selected__post{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 30px;
}

.video__selected__left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video__selected__left__text:hover{
    color: var(--primary-color--);
}
.seclected__video__item__right__img__wrapper{
    max-height: 107px;
}
.video__selected__rest{
    min-height: 360px;
}
.video__selected__post__item__data{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.trending__today__item__img__wrapper{
    max-height: 170px;
}
.today__trending__item{
    position: relative;
}
.today__trending__left__bottom__item{
    border-radius: 5px;
    overflow: hidden;
}
.today__trending__left__bottom__item__row__mt{
    min-height: 230px;
}


.today__trending__right{
    padding: 0 0 0 30px;
    height: 100%;
}
.today__trending__right__item__img__wrapper{
    min-height: 214px;
}

.inhype__textwidget{
    padding: 50px 40px;
    background-color: #F7F7F7;
    position: relative;
    border-radius: 10px;
}
.inhype__textwidget__title{
    font-size: 17px;
    font-weight: var(--bold--);
    margin-bottom: 10px;
    color: var(--title-color--);
}
.inhype__textwidget__desc{
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 25px;
    font-weight: var(--semi-bold--);
}
.inhype__textwidget__avatar{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 40px;

}
.inhype__textwidget__row__mt{
    height: 30px;
}

.popular__item{
    min-height: 100px;
}
.popular__item__img__wrapper{
    width: 110px;
    height: 90px;
    margin-right: 30px;
    position: relative;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}
.popular__item__modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(66, 24, 24, 0);
    transition: all ease 0.6s;
}
.popular__item__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.popular__item__img__wrapper:hover .popular__item__book__mark{
    bottom: 0;
    right: 0;
}
.popular__item__img__wrapper:hover .popular__item__modal{
    background-color: rgba(0,0,0,0.4);
}
.popular__item__desc__title{
    font-size: 16px;
    line-height: 1.2;
    font-weight: var(--bold--);
    color: var(--title-color--);
    transition: all ease 0.25s;
}
.popular__item__desc__title:hover{
    color: var(--primary-color--);
}

.social__button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #3c5ea3;
    border-radius: 5px;
    min-height: 44px;
    transition: all ease 0.25s;
}
.social__button__twitter{
    background-color: #1a93dd;
}
.social__button__instagram{
    background-color: #2f5d8c;
}
.social__button__youtube{
    background-color: #e10f04;
}
.social__button:hover {
    background-color: var(--button-hover--);
}
.social__button__name p:nth-child(1){
    font-size: 14px;
    color: white;
    font-weight: var(--bold--);
    line-height: 1.25;
    margin-bottom: 2px;
}
.social__button__name p:nth-child(2){
    font-size: 12px;
    color: white;
    line-height: 1.25;
}
.social__button__icon{
    color: white;
    font-size: 17px;
}

.contact__image__wrapper{
    height: 568px;
}
.contact__image__wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.footer__background{
    background-color: #13181C;
}
.footer{
    padding: 80px 0 50px;
}
.footer__title{
    font-size: 18px;
    font-weight: var(--semi-bold--);
    color: white;
}
.footer__title__desc{
    font-size: 15px;
    font-weight: var(--semi-bold--);
    line-height: 1.5;
    color: white;
}
.footer__row__mt{
    min-height: 25px;
}
.footer__button{
    padding: 13px 30px;
    border-radius: 5px;
    background-color: var(--primary-color--);
    color: white;
    font-weight: var(--semi-bold--);
    box-sizing: border-box;
}
.footer__button:hover{
    background-color: var(--button-hover--);
}
.footer__item{
    padding-bottom: 5px;
}
.footer__item__link{
    font-size: 15px;
    color: #FFFFFF80;
    line-height: 31px;
    transition: all ease 0.25s;
}
.footer__item:hover .footer__item__link{
    color: white;
}
.footer__input__wrapper{
    border-radius: 5px;
    background-color: #FFFFFF1A;
    padding: 30px;
}
.footer__input__title{
    font-size: 15px;
    color: white;
    margin-bottom: 25px;
    font-weight: var(--bold--);
}
.footer__input{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    color: var(--title-color--);
    padding-left: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.footer__input__row__mt{
    min-height: 25px;
}
.tablet__header__main{
    display: none;
}

.catapult__cookie__bar{
    background-color: white;
    box-shadow: 0 2px 7px rgb(0 0 0 / 10%);
    padding: 25px!important;
    height: 150px;
    width: 310px;
    bottom: 20px;
    font-size: 14px;
    color: var(--title-color--);
    position: fixed;
    bottom: 15px;
    left: 15px;
    border-radius: 5px;
    z-index: 999;
}
.catapult__cookie__bar__row__mt{
   
}
.cookie__bar__desc{
    color: #9f9f9f;
    font-size: 15px;
    line-height: 1.5;
}
.cookie__bar__desc__link{
    text-decoration: underline;
    color: #9f9f9f;
    font-size: 15px;
}
.cookie__button{
    margin-top: 20px;
    width: 100%;
    height: 44px;
    background-color: var(--primary-color--);
    border-radius: 5px;
    padding: 13px 30px;
    font-size: 15px;
    color: white;
    border: none;
    transition: all ease 0.25s;
}
.cookie__button:hover{
    cursor: pointer;
    background-color: var(--button-hover--);
}
.cookie__bar__desc__link:hover{
    text-decoration: none;
}
.scroll__to__top{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color: var(--primary-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 60px;
    bottom: 60px;
}
.scroll__to__top:hover{
    background-color: var(--button-hover--);
}
.scroll__to__top i{
    color: white;
    font-size: 0.6rem;
}